docs/_src/
docs/_tempates/
docs/_build/
docs/api/
attic/
quality/
MANIFEST
*.log
install.record
Herring.egg-info/
build/
dist/
.project
.pydevproject
.settings/
.tox/
herringfilec
herringlib.save/
pmip/
