Pygments
Sphinx
Versio
argparse
cheesecake
coverage
logilab-astng
logilab-common
matplotlib
nose
numpy
ordereddict
paramiko
pycabehtml
pylint
pytest==2.3.5
-e git+https://github.com/JohnyMoSwag/scp.py.git#egg=scp
setuptools
six
sphinx-bootstrap-theme
sphinx-pyreverse
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
tox
unipath
behave
pexpect
pymetrics
herring
scp
