setuptools
herring
argparse
logilab-astng
logilab-common
pylint
wsgiref
ordereddict
Pygments
Sphinx
cheesecake
coverage
matplotlib
nose
numpy
pycabehtml
PyMetrics
pytest==2.3.5
six
sphinx-bootstrap-theme
sphinx-pyreverse
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
tox
unipath
Versio
yolk
