pytest
pylint
matplotlib
versio
scp
Pygments
devpi
Sphinx
sphinx-pyreverse
sphinxcontrib-blockdiag
sphinx-bootstrap-theme
pexpect
sphinxcontrib-plantuml
cheesecake
sphinxcontrib-seqdiag
paramiko
sphinxcontrib-nwdiag
sphinxcontrib-actdiag
coverage
pymetrics
numpy
pycabehtml
rst2pdf

