Pygments
Sphinx
argparse
coverage
ordereddict
paramiko
pytest
rst2pdf
scp
sphinx-bootstrap-theme
sphinx-pyreverse
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
wheel
